<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.qnx.tools.ide.qde.ui.QDELaunch">
<booleanAttribute key="com.qnx.tools.ide.qde.core.AUTO_SOLIB" value="true"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.CLEAN_TARGET" value="true"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.DO_UPLOAD" value="true"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.STRIP_BEFORE_UPLOAD" value="true"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_ATTR" value="192.192.1.7"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_DEBUG_PERSPECTIVE" value="org.eclipse.debug.ui.DebugPerspective"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_DONTUSE_PTY" value="pickaptyforme"/>
<booleanAttribute key="com.qnx.tools.ide.qde.core.TARGET_FILTER_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="com.qnx.tools.ide.qde.debug.internal.core.QNXCommandFactory"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.qnx.tools.ide.qde.debug.core.CDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;contentList&gt;&lt;content id=&quot;len-m-canDispatch-(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;cob_id-m-canDispatch-(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;cob_id-m-canReceiveLoop-(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;nodeId-proceedNODE_GUARD-(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;cob_id-canDispatch-(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;cob_id-m-proceedSDO-(format)&quot; val=&quot;4&quot;/&gt;&lt;/contentList&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#13;&#10;&lt;globalVariableList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PLATFFORM" value="qnx"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="arm/o-le-v7-g/sillyslave_g"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="sillyslave"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="org.eclipse.cdt.core.default.config.443239652"/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sillyslave/arm/o-le-v7-g/sillyslave_g"/>
<listEntry value="/sillyslave"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
